{{ chat_template_data.system_instruction + '\n' }}
{% for turn in conversation %}
{{ turn.from + ': ' }}
{% if turn.from == chat_template_data.assistant_role %}
{{ chat_template_data.special_tokens.b_assistant_token }}
{% endif %}
{{ turn.value + '\n'}}
{% if turn.from == chat_template_data.assistant_role %}
{{ chat_template_data.special_tokens.e_assistant_token }}
{% endif %}
{% endfor %}
{{ chat_template_data.special_tokens.eod_token }}
