name: Tests

on:
  push:
    branches:
      - main
  workflow_dispatch:
  pull_request:
    types: [review_requested, ready_for_review, auto_merge_enabled]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.10", "3.11"]
    steps:
    - uses: actions/checkout@v4
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v3
      with:
        python-version: ${{ matrix.python-version }}
    - name: Comment out dependencies that require GPU
      run: |
        sed -i 's/"flash-attn"/#"flash-attn"/g' pyproject.toml
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install --upgrade setuptools
        python -m pip install --upgrade pip
        pip install -e .[tests]
    - name: Run tests
      run: |
        pytest
    - name: Upload coverage data to coveralls.io
      run: |
        python -m pip install coveralls[toml]
        coveralls --service=github
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

        
